* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    height: 100vh;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
    align-items: center;
    border: 1px solid red;
}

main .display {
    font-size: 20px;
    font-weight: bold;
}

main p {
    margin: 20px 0;
    text-align: center;
    background-color: tomato;
}

